
<header>

  <!-- Nav Bar -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
    <div class="container">
      <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
        {%- if site.title == "blank" -%}
          {%- if site.first_name -%}
            <span class="font-weight-bold">{{- site.first_name -}}&nbsp;</span>
          {%- endif -%}
          {%- if site.middle_name -%}
            {{- site.middle_name -}}&nbsp;
          {%- endif -%}
          {%- if site.last_name -%}
            {{- site.last_name -}}
          {%- endif -%}
        {%- else -%}
          {{- site.title -}}
        {%- endif -%}
      </a>

      <!-- Navbar Toggle -->
      <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">

          {%- for page in site.pages -%}
            {% if page.permalink == '/about/' %}
              {% assign about_title = page.title %}
            {% endif %}
          {% endfor %}

          <!-- Misc -->
          <li class="nav-item {% if page.url contains 'misc' %}active{% endif %}">
            <a class="nav-link" href="{{ '/index/' | relative_url }}">Home
              {%- if page.url contains 'misc' -%}
              <span class="sr-only">(current)</span>
              {%- endif -%}
            </a>
          </li>

          <!-- About -->
          <li class="nav-item {% if page.permalink == '/about/' %}active{% endif %}">
            <a class="nav-link" href="{{ '/about/' | relative_url }}">About
              {%- if page.permalink == '/about/' -%}
              <span class="sr-only">(current)</span>
              {%- endif -%}
            </a>
          </li>


          <!-- Projects -->
          <li class="nav-item {% if page.url contains 'projects' %}active{% endif %}">
            <a class="nav-link" href="{{ '/projects/' | relative_url }}">Projects
              {%- if page.url contains 'projects' -%}
              <span class="sr-only">(current)</span>
              {%- endif -%}
            </a>
          </li>

          <!-- CV -->
          <li class="nav-item {% if page.url contains 'cv' %}active{% endif %}">
            <a class="nav-link" href="{{ '/cv/' | relative_url }}">Resume
              {%- if page.url contains 'cv' -%}
              <span class="sr-only">(current)</span>
              {%- endif -%}
            </a>
          </li>

          <!-- Publications -->
          <li class="nav-item {% if page.url contains 'publications' %}active{% endif %}">
            <a class="nav-link" href="{{ '/publications/' | relative_url }}">Publications
              {%- if page.url contains 'publications' -%}
              <span class="sr-only">(current)</span>
              {%- endif -%}
            </a>
          </li>

          {%- if site.enable_darkmode %}

          <!-- Toogle theme mode -->
          <li class="toggle-container">
            <button id="light-toggle" title="Change theme">
              <i class="fas fa-moon"></i>
              <i class="fas fa-sun"></i>
            </button>
          </li>
          {%- endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>