---
layout: default
permalink: /
---



<!-- index.html -->
      <div class="post">
        <header class="post-header">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1 class="post-title" style="font: size 10%;">
            <center>
              >. 
           <!-- <span class="font-weight-bold">{{ site.first_name }} {{ site.official_name }} {{ site.last_name }}</span> -->
           <span class="font-weight-bold" id="typewriter"></span>
            </center>
          </h1>
          <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  
          <script type="text/javascript">
            var app = document.getElementById('typewriter');

            var typewriter = new Typewriter(app, {
              loop: true,
              delay: 75,
            });

            typewriter
              .start()
              .pauseFor(1500)
              .typeString('Hi !')
              .pauseFor(2000)
              .deleteAll()
              .typeString('Welcome to my personal website')
              .deleteAll()
              .pauseFor(2000)
              .typeString('My name is')
              .pauseFor(500)
              .typeString(' ...')
              .pauseFor(1000)
              .deleteAll()
              .typeString('Kevin Mi')
              .pauseFor(1000000)
          </script>
          <br>
          <center>
          <p class="desc">Engineer &nbsp; | &nbsp; Musican &nbsp; | &nbsp; Amateur Basketball Player</p>
          </center>

          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>
          </div>
          
        </header>

        <article>

          <div class="row">
            <div class="column" style="margin:5px; margin:0 auto;">
              {%- assign profile_image_path = 'deepRLAV.png' | prepend: 'assets/img/' -%}

            {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
            {%- assign caption = "Resume" -%}

            {% include figure_home.html 
              path=profile_image_path 
              class=profile_image_class
              caption = caption
              url = "/cv/"
              -%}
            </div>
            <div class="column" style="margin:5px; margin:0 auto;">
              {%- assign profile_image_path = 'highwayDT.gif' | prepend: 'assets/img/' -%}

            {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
            {%- assign caption = "Projects" -%}

            {% include figure_home.html 
              path=profile_image_path 
              class=profile_image_class
              caption = caption
              url = "/projects/"
              -%}
            </div>
            <div class="column" style="margin:5px; margin:0 auto;">
              {%- assign profile_image_path = 'guitar.jpeg' | prepend: 'assets/img/' -%}

            {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
            {%- assign caption = "Guitar" -%}

            {% include figure_home.html 
              path=profile_image_path 
              class=profile_image_class
              caption = caption
              url = "/guitar/"
              -%}
            </div>
          </div>

        </article>
        <br>
        <br>
</div>
